# All about Series Pandas

- Read the file "fandango_score_comparison.csv" in a dataframe called fandango.
- Display the first 2 lines of fandango.

In [2]:
import pandas as pd
fandango = pd.read_csv("fandango_score_comparison.csv")
fandango.iloc[:2]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

## Indexing with integers

- Select the column "FILM" and assign it to the variable series_film and display the first 5 values.
- Do the same with the column "RottenTomatoes" and assign it to the variable series_rt then display the first 5 values.

In [3]:
series_film = fandango["FILM"]
series_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [4]:
series_rt = fandango["RottenTomatoes"]
print(series_rt.iloc[:5])
print(series_rt.head())

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

## Customize your indexing

- Create a Series object named series_custom that will have a string index (based on the movie names we assign to the variable film_names) and will contain all the RottenTomatoes notes of series_rt that we assign to the variable rt_scores.
>- Be careful to use lists of values for our 2 parameters of the Series() method.
>- Don't forget to import the Series object from pandas

In [5]:
from pandas import Series
rt_scores = series_rt.values
film_names = series_film.values
series_custom = Series(rt_scores , index = film_names)
series_custom

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

## Re-index a Series object

- Create the original_index list containing the current index from the index attribute.
- Sort this index using the sorted() method and assign the result to the sorted_index variable.
- Then apply the reindex() method to our Series custom_series to reindex according to the sorted_index index.
- Store the result in the sorted_by_index variable.
- Display the result.

In [6]:

original_index = series_custom.index.tolist()
sort_index = sorted(original_index)
sort_index

["'71 (2015)",
 '5 Flights Up (2015)',
 'A Little Chaos (2015)',
 'A Most Violent Year (2014)',
 'About Elly (2015)',
 'Aloha (2015)',
 'American Sniper (2015)',
 'American Ultra (2015)',
 'Amy (2015)',
 'Annie (2014)',
 'Ant-Man (2015)',
 'Avengers: Age of Ultron (2015)',
 'Big Eyes (2014)',
 'Birdman (2014)',
 'Black Sea (2015)',
 'Black or White (2015)',
 'Blackhat (2015)',
 'Cake (2015)',
 'Chappie (2015)',
 'Child 44 (2015)',
 'Cinderella (2015)',
 'Clouds of Sils Maria (2015)',
 'Danny Collins (2015)',
 'Dark Places (2015)',
 'Do You Believe? (2015)',
 'Dope (2015)',
 'Entourage (2015)',
 'Escobar: Paradise Lost (2015)',
 'Ex Machina (2015)',
 'Fantastic Four (2015)',
 'Far From The Madding Crowd (2015)',
 'Fifty Shades of Grey (2015)',
 'Focus (2015)',
 'Furious 7 (2015)',
 'Get Hard (2015)',
 'Gett: The Trial of Viviane Amsalem (2015)',
 'Hitman: Agent 47 (2015)',
 'Home (2015)',
 'Hot Pursuit (2015)',
 'Hot Tub Time Machine 2 (2015)',
 "I'll See You In My Dreams (2015)",
 'Infinitely Polar Bear (2015)',
 'Inherent Vice (2014)',
 'Inside Out (2015)',
 'Insidious: Chapter 3 (2015)',
 'Into the Woods (2014)',
 'Irrational Man (2015)',
 'It Follows (2015)',
 'Jupiter Ascending (2015)',
 'Jurassic World (2015)',
 'Kingsman: The Secret Service (2015)',
 'Kumiko, The Treasure Hunter (2015)',
 'Leviathan (2014)',
 'Little Boy (2015)',
 'Love & Mercy (2015)',
 'Mad Max: Fury Road (2015)',
 'Maggie (2015)',
 'Magic Mike XXL (2015)',
 'Maps to the Stars (2015)',
 'Max (2015)',
 'McFarland, USA (2015)',
 'Me and Earl and The Dying Girl (2015)',
 'Minions (2015)',
 'Mission: Impossible â€“ Rogue Nation (2015)',
 'Monkey Kingdom (2015)',
 'Mortdecai (2015)',
 'Mr. Holmes (2015)',
 'Mr. Turner (2014)',
 'Night at the Museum: Secret of the Tomb (2014)',
 'Paddington (2015)',
 'Paper Towns (2015)',
 'Paul Blart: Mall Cop 2 (2015)',
 'Phoenix (2015)',
 'Pitch Perfect 2 (2015)',
 'Pixels (2015)',
 'Poltergeist (2015)',
 'Project Almanac (2015)',
 'Red Army (2015)',
 'Ricki and the Flash (2015)',
 'Run All Night (2015)',
 'Saint Laurent (2015)',
 'San Andreas (2015)',
 'Self/less (2015)',
 'Selma (2014)',
 'Serena (2015)',
 'Seventh Son (2015)',
 'Seymour: An Introduction (2015)',
 'Shaun the Sheep Movie (2015)',
 'Sinister 2 (2015)',
 'Song of the Sea (2014)',
 'Southpaw (2015)',
 'Spare Parts (2015)',
 'Spy (2015)',
 'Still Alice (2015)',
 'Straight Outta Compton (2015)',
 'Strange Magic (2015)',
 'Taken 3 (2015)',
 'Tangerine (2015)',
 'Ted 2 (2015)',
 'Terminator Genisys (2015)',
 'Testament of Youth (2015)',
 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)',
 'The Age of Adaline (2015)',
 'The Boy Next Door (2015)',
 'The DUFF (2015)',
 'The Diary of a Teenage Girl (2015)',
 'The Divergent Series: Insurgent (2015)',
 'The End of the Tour (2015)',
 'The Gallows (2015)',
 'The Gift (2015)',
 'The Gunman (2015)',
 'The Hobbit: The Battle of the Five Armies (2014)',
 'The Hunting Ground (2015)',
 'The Imitation Game (2014)',
 'The Last Five Years (2015)',
 'The Lazarus Effect (2015)',
 'The Loft (2015)',
 'The Longest Ride (2015)',
 'The Man From U.N.C.L.E. (2015)',
 'The Overnight (2015)',
 'The Salt of the Earth (2015)',
 'The Second Best Exotic Marigold Hotel (2015)',
 'The SpongeBob Movie: Sponge Out of Water (2015)',
 'The Stanford Prison Experiment (2015)',
 'The Vatican Tapes (2015)',
 'The Water Diviner (2015)',
 'The Wedding Ringer (2015)',
 'The Wolfpack (2015)',
 'The Woman In Black 2 Angel of Death (2015)',
 'The Wrecking Crew (2015)',
 'Timbuktu (2015)',
 'Tomorrowland (2015)',
 'Top Five (2014)',
 'Trainwreck (2015)',
 'True Story (2015)',
 'Two Days, One Night (2014)',
 'Unbroken (2014)',
 'Unfinished Business (2015)',
 'Unfriended (2015)',
 'Vacation (2015)',
 'Welcome to Me (2015)',
 'What We Do in the Shadows (2015)',
 'When Marnie Was There (2015)',
 "While We're Young (2015)",
 'Wild Tales (2014)',
 'Woman in Gold (2015)']

In [7]:
sorted_index = series_custom.reindex(sort_index)
sorted_index

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

## Sort a Series object

- Sort the Series series series_custom by index using the sort_index() method and assign the result to the sc2 variable.
- Sort the Series series series_custom by values and assign the result to the sc3 variable.
- Display the first 10 values of sc2 and sc3.

In [8]:
sc2 = series_custom.sort_index() 
sc3 = series_custom.sort_values()

In [9]:
sc2.iloc[:10]

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [10]:
sc3.iloc[:10]

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Column transformation

- Normalize the Series series_custom (score scale from 0 to 100) to obtain a score scale from 0 to 5 by dividing the object by 20.
- Assign the new Series object to the series_normalized variable.
- Display the result.

In [24]:
series_normalized = (series_custom/20)*5
series_normalized[:5]

Avengers: Age of Ultron (2015)    18.50
Cinderella (2015)                 21.25
Ant-Man (2015)                    20.00
Do You Believe? (2015)             4.50
Hot Tub Time Machine 2 (2015)      3.50
dtype: float64

## Compare and filter

- Assign to the criteria_one variable the criterion for customer_series values greater than 50.
- Assign the criteria_two variable the criterion for customer_series values less than 75.
- Return a new filtered Series object named both_criteria which contains only the values for which both criteria are true.
- Display this last result.

In [12]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75
both_criteria = series_custom[criteria_one & criteria_two]
both_criteria.tail()

Woman in Gold (2015)          52
The Last Five Years (2015)    60
Jurassic World (2015)         71
Minions (2015)                54
Spare Parts (2015)            52
dtype: int64

## Data alignment

- Create the Series rt_critics that indexes the values of the RottenTomatoes column notes (review notes) with the name of the movies as index (FILM column).
- Create the Series rt_users which indexes the values of the RottenTomatoes_User column notes (user notes) with the name of the movies as index (FILM column).
- rt_critics and rt_users are thus 2 Series objects containing the average of the critics' and users' scores for each movie.
- Since each Series uses the same index (corresponding to the movie names), use mathematical operations to return the average of the critics' and users' scores for each movie.
- Assign the resulting Series to the variable rt_mean.
- Display the result.

In [19]:
val = fandango["RottenTomatoes"].tolist()
ind = fandango["FILM"].tolist()
rt_critics = pd.Series(val,index = ind)

In [20]:
rt_critics

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [21]:
val = fandango["RottenTomatoes_User"].tolist()
ind = fandango["FILM"].tolist()
rt_users = pd.Series(val,index = ind)

In [22]:
rt_users

Avengers: Age of Ultron (2015)               86
Cinderella (2015)                            80
Ant-Man (2015)                               90
Do You Believe? (2015)                       84
Hot Tub Time Machine 2 (2015)                28
                                             ..
Mr. Holmes (2015)                            78
'71 (2015)                                   82
Two Days, One Night (2014)                   78
Gett: The Trial of Viviane Amsalem (2015)    81
Kumiko, The Treasure Hunter (2015)           63
Length: 146, dtype: int64

In [23]:
rt_mean = (rt_critics + rt_users)/2
rt_mean[:5]

Avengers: Age of Ultron (2015)    80.0
Cinderella (2015)                 82.5
Ant-Man (2015)                    85.0
Do You Believe? (2015)            51.0
Hot Tub Time Machine 2 (2015)     21.0
dtype: float64