# Guided project: Thanksgiving data analysis.

## Introduction to the dataset

- Import the pandas library.
- Use the pandas.read_csv() function to read the thanksgiving.csv file.
>- Specify in the function parameters the argument encoding='latin-1' because this dataset is not encoded normally.
>- Assign the dataframe to the variable data
- Display the first lines of data.
- Display the column names with the columns attribute.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
%matplotlib inline
# standard import statement for seaborn
import seaborn as sns

In [2]:
thanks = pd.read_csv('thanksgiving.csv',encoding = 'latin-1')
print(thanks.head(1))

   RespondentID Do you celebrate Thanksgiving?  \
0    4337954960                            Yes

  What is typically the main dish at your Thanksgiving dinner?  \
0                                             Turkey

  What is typically the main dish at your Thanksgiving dinner? - Other (please specify)  \
0                                                NaN

  How is the main dish typically cooked?  \
0                                  Baked

  How is the main dish typically cooked? - Other (please specify)  \
0                                                NaN

  What kind of stuffing/dressing do you typically have?  \
0                                        Bread-based

  What kind of stuffing/dressing do you typically have? - Other (please specify)  \
0                                                NaN

  What type of cranberry saucedo you typically have?  \
0                                               None

  What type of cranberry saucedo you typically have? - Other (please specify)  \
0                                                NaN

   ...  \
0  ...

  Have you ever tried to meet up with hometown friends on Thanksgiving night?  \
0                                                Yes

  Have you ever attended a "Friendsgiving?"  \
0                                        No

  Will you shop any Black Friday sales on Thanksgiving Day?  \
0                                                 No

  Do you work in retail? Will you employer make you work on Black Friday?  \
0                     No                                              NaN

  How would you describe where you live?      Age What is your gender?  \
0                               Suburban  18 - 29                 Male

  How much total combined money did all members of your HOUSEHOLD earn last year?  \
0                                 $75,000 to $99,999

         US Region
0  Middle Atlantic

[1 rows x 65 columns]

In [3]:
print(thanks.dtypes)

RespondentID                                                                              int64
Do you celebrate Thanksgiving?                                                           object
What is typically the main dish at your Thanksgiving dinner?                             object
What is typically the main dish at your Thanksgiving dinner? - Other (please specify)    object
How is the main dish typically cooked?                                                   object
                                                                                          ...
How would you describe where you live?                                                   object
Age                                                                                      object
What is your gender?                                                                     object
How much total combined money did all members of your HOUSEHOLD earn last year?          object
US Region                                                                                object
Length: 65, dtype: object

## Filtering data

- Use the Series.value_counts() method to display the response count for each category in the 'Do you celebrate Thanksgiving?' column.
- Filter and save all rows of the dataframe data for which the answer to the 'Do you celebrate Thanksgiving?' question is 'Yes'.
- Assign this new dataframe to data and display it.

In [4]:
count  = thanks['Do you celebrate Thanksgiving?'].value_counts()
count

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [5]:
yes = thanks[thanks['Do you celebrate Thanksgiving?'] == "Yes"]

In [6]:
yes

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,4335944082,Yes,Turkey,NaN,Roasted,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,Yes,No,No,NaN,Rural,30 - 44,Female,"$100,000 to $124,999",Mountain
1054,4335943173,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,No,No,No,No,NaN,Suburban,60+,Female,"$50,000 to $74,999",Pacific
1055,4335943060,Yes,Other (please specify),Duck,Baked,NaN,Rice-based,NaN,None,NaN,...,Yes,Yes,Yes,No,NaN,Urban,60+,Male,"$100,000 to $124,999",Pacific
1056,4335934708,Yes,Turkey,NaN,Baked,NaN,None,NaN,Homemade,NaN,...,Yes,No,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN
1057,4335894916,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,Yes,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN

## Exploring thanksgiving dinners

- Use the Series.value_counts() method to display how many times each result appears for the 'What is typically the main dish at your Thanksgiving dinner?' question and column.
- Display the 'Do you typically have gravy? column for rows in the dataframe data for which the 'What is typically the main dish at your Thanksgiving dinner? column is set to 'Tofurkey' for tofu turkey.
>- Create a filter that selects only those rows in the dataframe data where 'What is typically the main dish at your Thanksgiving dinner?' is set to 'Tofurkey'.
>- Assign the result to the variable tofurkey
>- Display the 'Do you typically have gravy?' column of this new tofurkey dataframe.

In [7]:
cou = thanks['What is typically the main dish at your Thanksgiving dinner?'].value_counts()
cou

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [8]:
turkey = thanks[thanks['What is typically the main dish at your Thanksgiving dinner?']=='Turkey']

In [9]:
turkey['Do you typically have gravy?'].value_counts()

Yes    814
No      45
Name: Do you typically have gravy?, dtype: int64

In [10]:
pd.Series

pandas.core.series.Series

## Dessert trends for Thanksgiving ##

- Create a Series object indicating with booleans the values of the column 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple' which are null. Assign the result to the variable apple_isnull.
- Create a Series object that uses booleans to indicate the values in the column 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin' which are null. Assign the result to the pumpkin_isnull variable.
- Create a Series object with booleans indicating the values in the column 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan' which are null. Assign the result to the variable pecan_isnull.
- Combine these 3 Series objects with the & operator and assign the result to the pies variable.
- Display the unique values and how many times they appear in the pies column.

In [11]:
apple_isnull = pd.isnull(thanks['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple'])
pumpkin_isnull = pd.isnull(thanks['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin'])
pecan_isnull =  pd.isnull(thanks['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan'])

In [12]:
a = apple_isnull & pumpkin_isnull & pecan_isnull

In [13]:
a.value_counts()

False    876
True     182
dtype: int64

## Convert age to a numerical value ##

- Write a function that converts a string into an integer value. This will convert the values in the 'Age' column to integers. This function will take as parameter a string of characters (the current values of the column 'Age').
>- Use the isnull() function to check if the values are null. Add an if condition that returns 'None' if the value is null.
>- Separate strings by space (' ') and extract the first element from the resulting list (split() method)
>- Replace the '+' character in the result with an empty string to remove it (replace() method).
>- use int() to convert the result to an integer
>- Return the result
- Use the Series.apply() method to apply the function to each value in the 'Age' column of the dataframe data.
>- Assign the result to the new int_age column of the dataframe data.
- Call the Series.describe() method on the 'int_age' column of the dataframe data and display the result.

In [14]:
ahe = thanks['Age']
ahe.split(' ')

AttributeError: 'Series' object has no attribute 'split'

In [15]:
def check(age):
    if pd.isnull(age):
        return None
    age = age.split(' ')[0]
    age = age.replace('+', '')
    return int(age)
thanks['int age'] = thanks['Age'].apply(check)
thanks['int age']

0       18.0
1       18.0
2       18.0
3       30.0
4       30.0
        ...
1053    30.0
1054    60.0
1055    60.0
1056     NaN
1057     NaN
Name: int age, Length: 1058, dtype: float64

## Convert income to numerical values

- Write a function to convert income to a single integer format value.
>- Use the isnull() function to check if the value is null. If it is, return 'None'.
>- Separate the string using space as delimiter and extract the first element from the resulting list.
>- If the result is 'Prefer', return 'none'.
>- Replace the characters '$' and ',' with empty strings to delete them.
>- Use int() to convert the result to an integer
>- Return the result
- Use the Series.apply() method to apply the above function to each value in the 'How much total combined money did all members of your HOUSEHOLD earn last year?' column of the dataframe data.
>- Assign the result to the new column 'int_income' in the dataframe data.
- Call the Series.describe() method to the int_income column of the dataframe data and display the result.

In [17]:
def income(income):
    if pd.isnull(income):
        return None
    income = income.split(' ')[0]
    if income == 'Prefer':
        return None 
    income = income.replace('$', '')
    income = income.replace(',', '')
    return int(income)

In [19]:
thanks['int income'] = thanks['Age'].apply(check)
thanks['int income'] = thanks['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(income)

In [20]:
thanks['int income']

0        75000.0
1        50000.0
2            0.0
3       200000.0
4       100000.0
          ...
1053    100000.0
1054     50000.0
1055    100000.0
1056         NaN
1057         NaN
Name: int income, Length: 1058, dtype: float64

## Correlation between distance and income

- Watch how people earning less than 150,000 dollars travel.
>- Filter data by selecting only 'int_income' values below $150,000.
>- Select the column 'How far will you travel for Thanksgiving? taking into account the filter
>- Use the value_counts() method to count how many times each value appears in the column.
>- Display the results
- Do the same with people earning more than 150,000 dollars.

In [30]:
a =  thanks[thanks['int income']< 150000]['How far will you travel for Thanksgiving?'].value_counts()

In [31]:
a

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

## Link between spending Thanksgiving with friends with age and income ##

- Generate a pivot table showing the average age of respondents for each category of the questions 'Have you ever tried to meet up with hometown friends on Thanksgiving night? and 'Have you ever attended a "Friendsgiving?"'.
>- Call the pivot_table() method on the dataframe data
>- Set the 'index' parameter to 'Have you ever tried to meet up with hometown friends on Thanksgiving night?'.
>- Set the 'columns' parameter to 'Have you ever attended a "Friendsgiving?"'.
>- Set the 'values' parameter to 'int_age'.
>- Display the results
- Do the same for revenues with these two questions.

In [36]:
a = thanks.pivot_table(index = 'Have you ever tried to meet up with hometown friends on Thanksgiving night?',
                  columns = 'Have you ever attended a "Friendsgiving?"',
                  values = 'int age')

In [37]:
a

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744