# The Pandas library

## Reading a CSV file with pandas

- Import pandas.
- Use the pandas.read_csv() function to read the file "food_info.csv" in a dataframe called food_info.
- Use the type() and print() functions to display the type of food_info and confirm that it is a dataframe object.

In [2]:
import pandas as pd
data = pd.read_csv("food_info.csv")
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

## Select a line

- Assign the 100th line of the dataframe food_info to the variable row_100.
- Display the result.

In [3]:
row_100 = data.iloc[100,:]
print(row_100)

NDB_No                        1112
Shrt_Desc          WHEY ACID FLUID
Water_(g)                    93.42
Energ_Kcal                      24
Protein_(g)                   0.76
Lipid_Tot_(g)                 0.09
Ash_(g)                       0.61
Carbohydrt_(g)                5.12
Fiber_TD_(g)                     0
Sugar_Tot_(g)                 5.12
Calcium_(mg)                   103
Iron_(mg)                     0.08
Magnesium_(mg)                  10
Phosphorus_(mg)                 78
Potassium_(mg)                 143
Sodium_(mg)                     48
Zinc_(mg)                     0.43
Copper_(mg)                  0.003
Manganese_(mg)               0.002
Selenium_(mcg)                 1.8
Vit_C_(mg)                     0.1
Thiamin_(mg)                 0.042
Riboflavin_(mg)               0.14
Niacin_(mg)                  0.079
Vit_B6_(mg)                  0.042
Vit_B12_(mcg)                 0.18
Vit_A_IU                         7
Vit_A_RAE                        2
Vit_E_(mg)                       0
Vit_D_mcg                      NaN
Vit_D_IU                       NaN
Vit_K_(mcg)                      0
FA_Sat_(g)                   0.057
FA_Mono_(g)                  0.025
FA_Poly_(g)                  0.004
Cholestrl_(mg)                   1
Name: 100, dtype: object

## Select multiple lines

- Select the last 5 lines of food_info and assign the result to the variable last_rows.

In [4]:
last_rows = data.iloc[-5:,:]
print(last_rows)
#last_rows = data.tail(5)

      NDB_No                   Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
8613   83110             MACKEREL SALTED      43.00         305        18.50
8614   90240  SCALLOP (BAY&SEA) CKD STMD      70.25         111        20.54
8615   90480                  SYRUP CANE      26.00         269         0.00
8616   90560                   SNAIL RAW      79.20          90        16.10
8617   93600            TURTLE GREEN RAW      78.50          89        19.80

      Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
8613          25.10    13.40            0.00           0.0            0.0
8614           0.84     2.97            5.41           0.0            0.0
8615           0.00     0.86           73.14           0.0           73.2
8616           1.40     1.30            2.00           0.0            0.0
8617           0.50     1.20            0.00           0.0            0.0

      ...  Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
8613  ...     157.0       47.0        2.38       25.2    1006.0          7.8
8614  ...       5.0        2.0        0.00        0.0       2.0          0.0
8615  ...       0.0        0.0        0.00        0.0       0.0          0.0
8616  ...     100.0       30.0        5.00        0.0       0.0          0.1
8617  ...     100.0       30.0        0.50        0.0       0.0          0.1

      FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
8613       7.148        8.320        6.210            95.0
8614       0.218        0.082        0.222            41.0
8615       0.000        0.000        0.000             0.0
8616       0.361        0.259        0.252            50.0
8617       0.127        0.088        0.170            50.0

[5 rows x 36 columns]

## Selecting a column instead of a row

- Assign the column "protein_(g)" to the variable protein.
- Assign the column "Cholestrl_(mg)" to the variable cholesterol.
- Display the results.

In [5]:
protein = data.loc[:,('Protein_(g)')]
print(protein)

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
        ...
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64

In [19]:
cholesterol = data.loc[:,('Cholestrl_(mg)')]
print(cholesterol)

0       215.0
1       219.0
2       256.0
3        75.0
4        94.0
        ...
8613     95.0
8614     41.0
8615      0.0
8616     50.0
8617     50.0
Name: Cholestrl_(mg), Length: 8618, dtype: float64

## Select multiple columns

- Select the 'Shrt__Desc', 'Selenium_(mcg)' and 'Thiamin_(mg)' columns and assign the resulting dataframe to the selenium_thiamin variable.
- Display the result.

In [6]:
selenium_thiamin = data.loc[:,('Selenium_(mcg)','Thiamin_(mg)','Shrt__Desc')]
print(selenium_thiamin)
data([['Selenium_(mcg)','Thiamin_(mg)','Shrt__Desc']])

      Selenium_(mcg)  Thiamin_(mg)  Shrt__Desc
0                1.0         0.005         NaN
1                1.0         0.005         NaN
2                0.0         0.001         NaN
3               14.5         0.029         NaN
4               14.5         0.014         NaN
...              ...           ...         ...
8613            73.4         0.020         NaN
8614            21.7         0.012         NaN
8615             0.7         0.130         NaN
8616            27.4         0.010         NaN
8617            16.8         0.120         NaN

[8618 rows x 3 columns]

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:805: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_lowerdim(tup)

TypeError: 'DataFrame' object is not callable

## Case study

- Select and display only those columns that use grams as the unit of measurement (i.e. ending with "(g)"). To do so:
>- Use the  attribute to return the name of the columns in the dataframe food_info and convert them to a list using the tolist() method.
>- Create a new list called gramcolumns__columns, containing only the columns ending with "(g)". Hint: the endswith() method returns True if the object to which it is applied ends with the element in parenthesis. ex: total_(g).endswith("(g)") returns True. A for loop is strongly recommended to browse all column names.
>- Select the gram_columns for the food_info dataframe and assign the resulting dataframe to the gram_df variable.
>- Display the first 3 values of this dataframe gram_df

In [ ]:
.clomnn.tolist()

In [29]:
gramcolumns__columns = []
col_names = data.columns.tolist()
col_names
for end in col_names:
    if end.endswith("(g)") == True:
        gramcolumns__columns.append(end)
gram_df = data[gramcolumns__columns]
gram_df.iloc[:3,:]

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694