# Process missing values

## Find the missing values

- Read the dataset titanic_survival.csv

- Count the number of values in the "age" column with missing values:
>- Assign to the variable age the column of ages of the dataframe titanic_survival
>- Use pandas.isnull() on the age variable to create a set of True and False values.
>- Use the resulting Series to select only the elements in the "age" column that are null and assign the result to the age_null variable.
>- Assign the number of missing values of age_null to the variable age_null_count (function len() )
- Display age_null_count to see the number of missing values in the column "age".

In [19]:
import pandas as pd
titanic_survival = pd.read_csv('titanic_survival.csv')
age = titanic_survival['age']
age_null = []
check = pd.isnull(age)
print(age,check)
count = 0
for i in check:
    count += 1
    if i == True:
        age_null.append(age.iloc[count:]) 
print(len(age_null))

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
1309        NaN
Name: age, Length: 1310, dtype: float64 0       False
1       False
2       False
3       False
4       False
        ...
1305     True
1306    False
1307    False
1308    False
1309     True
Name: age, Length: 1310, dtype: bool
264

In [18]:
age_is_null = pd.isnull(titanic_survival["age"])
age_is_null

0       False
1       False
2       False
3       False
4       False
        ...
1305     True
1306    False
1307    False
1308    False
1309     True
Name: age, Length: 1310, dtype: bool

## Problem with missing values

- Use age_is_null to create a vector that contains only the values in the "age" column that are not NaN (i.e. for which age_is_null is False)
- Assign this result to the variable good_ages
- Calculate the mean of this new vector and assign the result to the variable mean_age
- Display this average.

In [28]:
good_ages = []
for i , value enumerate(age_is_null):
    if value == False:
        good_ages.append(age.iloc[i:]) 
mean_age =    good_ages.mean()

SyntaxError: invalid syntax (<ipython-input-28-07611f73eff4>, line 2)

In [30]:
titanic_survival["age"][-titanic_survival.age.isnull()].mean()

29.8811345124283

In [27]:
titanic_survival["age"][-titanic_survival.age.notnull()]

15     NaN
37     NaN
40     NaN
46     NaN
59     NaN
        ..
1297   NaN
1302   NaN
1303   NaN
1305   NaN
1309   NaN
Name: age, Length: 264, dtype: float64

In [25]:
titanic_survival["age"][titanic_survival["age"]== 29.0]

0       29.0
24      29.0
189     29.0
226     29.0
369     29.0
372     29.0
374     29.0
391     29.0
407     29.0
452     29.0
521     29.0
526     29.0
574     29.0
586     29.0
589     29.0
688     29.0
715     29.0
746     29.0
880     29.0
893     29.0
935     29.0
950     29.0
951     29.0
990     29.0
1058    29.0
1100    29.0
1196    29.0
1231    29.0
1258    29.0
1308    29.0
Name: age, dtype: float64

## To calculate an average more simply ##

- Assign the mean of the column "fare" to the variable mean_fare.
- Display the result.

In [29]:
titanic_survival["age"].mean()#work with out missing value

29.8811345124283

## Calculate price statistics

- Create an empty dictionary called fares_by_class.
- Create the passenger_classes list which contains the elements [1,2,3].
- Use a for loop to browse the passenger_classes list:
>- Just select the titanic_survival lines for which the pclass column is equal to the temporary variable (the iterator) of the for loop, i.e. corresponding to the class number (1, 2 or 3).
>- Select only the fare column for this subset of rows (corresponding to the class).
>- Use the Series.mean() method to calculate the average of this subset
>- Add this calculated average of the class to the fares_by_class dictionary with the class number as a key (and therefore as a value the average price of the boarding ticket)
- Once the loop is complete, the fares_by_class dictionary should have 1,2 and 3 as keys with the corresponding averages as values.
- Display the result.

## Introduction to table pivots

- Use the dataFrame.pivot_table() method to calculate the average age for each passenger class ("pclass").
- Assign the result to the variable passenger_age.
- Display passenger_age.
- Do the same with the survived column for each passenger class.

## Pivot Tables Level 2

- Make a pivot table that calculates the total money collected ("fare") and the total number of survivors ("survivved") for each boat port ("embarked"). You will have to use the numpy.sum function.
- Assign the result to the port_stats variable.
- Display the result.

## Eliminate missing values

- Delete all rows of titanic_survival for which the columns "age" or "sex" have missing values and assign the result to the variable new_titanic_survival.
- Compare the number of rows left with the shape attribute.

## iloc to access lines

- Assign the first 10 lines of new_titanic_survival to the first_ten_rows variable.
- Assign the 5th line of new_titanic_survival to the row_position-fifth variable.
- Assign the row with index name 25 for new_titanic_survival to the variable row_index_25.

## The column indexes

- Assign the row heading value 1100 for the "age" column of new_titanic_survival to the variable row_index_1100_age.
- Assign the row heading value 25 for the column "survived" in new_titanic_survival to the variable row_index_25_survived.
- Assign the first 5 rows and 3 columns of new_titanic_survival to the variable five_rows_three_cols.
- Display all results.

## Re-index the lines in a dataframe ##

- Re-index the new_titanic_survival dataframe so that the first line starts at 0 and remove the old indexing.
- Assign the result to the variable titanic_reindexed.
- Display the first 5 rows and first 3 columns of titanic_reindexed.

## Applying functions to a DataFrame

- Write a function that counts the number of missing elements in a Series object.
- Use the DataFrame.apply() method to apply your function on titanic_survival.
- Assign the result to the variable column_null_count.
- Display the result.

## Apply a function to a line

- Create a function that returns the string "minor" for someone under 18 years old, "adult" if their age is 18 or older, and "unknown" if the value is missing.
- Use this function with the apply() method to find the correct title for each apssager in the titanic_survival dataframe.
- Assign the result to the age_labels variable.
- Display the result.

## Practice: Calculate percent survival by age group

- Add the column "age_labels" to the dataframe titanic_survival containing the variable age_labels that we created before.
- Create a pivot table that calculates the average chance of survival (column "survived") for each age group (column "age_labels") in the dataframe titanic_survival.
- Assign the resulting Series object to the age_group_survival variable.
- Display the result.