# All about DataFrames Pandas objects

- Read the dataset 'fandango_score_comparison' in the fandango dataframe.
- Return a dataframe containing only the first and last lines and assign the result to the first_last variable.
- Display the result.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
%matplotlib inline

## Use custom indexes

- Use the set_index method to index our fandango DataFrame with the 'FILM' column. Note that we want to keep the 'FILM' column. Furthermore we want to keep the original DataFrame and create a new one that we will assign to the fandango_films variable.
- Display the index of the DataFrame fandango_films in the iade of the index attribute.

## Selecting values from an index

- Select the following movies from the DataFrame fandango_films (in the following order) and assign them to the some_movies variable:
>- "Top Five (2014)"
>- "Black Sea (2015)"
>- "Taken 3 (2015)"
- Display the result.

## Apply() method on the columns of a DataFrame

- Get the float_df dataframe I made as an example (which returns the float64 decimal columns)
- Use the apply() method on this float_df dataframe to halve each value and assign the result to the exo_df variable.
- Display the first lines of the result.

## Apply() method on the lines of a DataFrame

- Use the apply() method to calculate the average (mean() method from the Numpy library) of the values of each movie for 'RT_user_norm' and 'metacritic_user_name' and then assign the result to the variable rt_mt_means.
- Display the first 5 values of rt_mt_means.